future
emoji
requests
sqlalchemy
python-telegram-bot
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
aiohttp>=2.2.5
Pillow>=4.2.0
bs4
lxml
wget
gTTS
demjson
PyLyrics
pyowm
googletrans
gsearch
py_translator
